[workspace]
members = ["client", "server", "shared", "client_app"]
resolver = "3"

[profile.dev]
opt-level = 0
debug = true
split-debuginfo = "unpacked"
incremental = true
codegen-units = 256

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
strip = true
